@import "../bower_components/fontawesome/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Montserrat";
/** VARIABLES **/
* {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body,
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  background-color: #ecf0f1;
  color: #000000;
  margin: 0;
  padding: 0;
}
.startpage-header {
  background-color: #ffffff;
  width: 100%;
  height: 40px;
  margin: 0 5px 50px 5px;
  padding: 0;
}
.startpage-header .startpage-title {
  margin: 0;
  padding: 0;
  line-height: 40px;
  font-weight: 100;
  font-size: 1.3em;
  width: 50%;
}
.startpage-header .startpage-navigation {
  list-style: none;
  margin: 0;
  display: block;
  width: 50%;
  text-align: right;
}
.startpage-header .startpage-navigation li {
  line-height: 40px;
  display: inline-block;
  margin: 0 0 0 25px;
}
.startpage-header .startpage-navigation a {
  color: #222824;
  text-decoration: none;
}
.startpage-header .startpage-navigation a:hover {
  color: #000000;
}
.inner {
  width: 100%;
  max-width: 1024px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.news-container {
  min-width: 380px;
  max-width: 457px;
  width: 100%;
  margin: 0 0 50px 0;
}
.news-container .news-headline {
  color: #222824;
  text-transform: uppercase;
  line-height: 35px;
  height: 35px;
  margin: 0;
  padding: 0 10px 0 45px;
  background-color: #ffffff;
}
.news-container .news-logo {
  display: block;
  float: left;
  width: 35px;
  height: 35px;
}
.news-container .news-logo img {
  width: 100%;
  height: 100%;
}
.news-container:nth-child(even) {
  margin-left: 15px;
}
.news-container:nth-child(odd) {
  margin-right: 15px;
}
.news-list {
  list-style: none;
  padding: 0;
}
.news-list .marker {
  color: #ffffff;
  display: block;
  float: left;
  height: 35px;
  width: 35px;
  text-align: center;
  overflow: hidden;
}
.news-list .marker .fa {
  width: 100%;
  height: 100%;
  line-height: 35px;
  display: block;
  font-size: 1.4em;
  float: left;
}
.news-list .news-link {
  display: block;
  color: #000000;
  text-decoration: none;
  height: 35px;
  line-height: 35px;
  background: #ffffff;
  min-width: 380px;
  padding: 0 10px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news-list .news-item {
  margin-bottom: 10px;
}
.news-list .news-item:hover {
  cursor: pointer;
}
.news-list .news-item:hover .marker .fa:first-child,
.news-list .news-item.visited .marker .fa:first-child {
  margin-left: -35px;
}
.news-list .news-item.visited .news-link {
  background-color: #dddddd;
}
@media only screen and (max-device-width: 1024px) {
  .news-container {
    margin: 0 0 25px 0;
    width: 100%;
    min-width: 100%;
  }
  .news-container .news-link {
    width: calc(100% - 35px);
    min-width: calc(100% - 35px);
  }
  .news-container:nth-child(even) {
    margin-left: 0px;
  }
  .news-container:nth-child(odd) {
    margin-right: 0px;
  }
  .inner {
    padding: 0 20px;
  }
  .startpage-header {
    margin: 0 0 25px 0;
    width: 100%;
  }
  .startpage-header .startpage-navigation {
    display: none;
  }
  .startpage-header .startpage-title {
    width: 100%;
    text-align: center;
  }
}
